.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.key
presentaciones/clase_01.key
presentaciones/clase_02.key
presentaciones/clase_03.key
presentaciones/*.key
